<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HTML Template</title>
		<!-- css begin -->
		<link rel="stylesheet" href="/public/css/render.css" />
		<!-- css end -->
	</head>
	<body>

		<div class="doc-wrap">
		<!-- doc-wrap begin -->
			<a href="/">Template(s)</a>
			<h1>HTML Templates</h1>

			<div class="grid-a">
			<!-- grid-a begin -->

				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						HTML generic template
					</div>
					<div class="block-b">
						<a href="/templates/html/layout.html">/templates/html/layout.html</a>
					</div>
				<!-- row end -->
				</div>

				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						HTML grids
					</div>
					<div class="block-b">
						<a href="/templates/html/grids.html">/templates/html/grids.html</a>
					</div>
				<!-- row end -->
				</div>

			<!-- grid-a end -->
			</div>


		<!-- doc-wrap end -->
		</div>

		<!-- script begin -->
		<!-- <script src="/public/scripts/main.js"></script> -->
		<!-- script end -->
	</body>
</html>
