<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Script Template</title>
		<!-- css begin -->
		<link rel="stylesheet" href="/public/css/render.css" />
		<!-- css end -->
	</head>
	<body>

		<div class="doc-wrap">
		<!-- doc-wrap begin -->
			<a href="/">Template(s)</a>
			<h1>Script Templates</h1>

			<h2>Grunt Templates</h2>
			<div class="grid-a">
			<!-- grid-a begin -->

				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						Empty Gruntfile template
					</div>
					<div class="block-b">
						<a href="/templates/script/Gruntfile.js">/templates/script/Gruntfile.js</a>
					</div>
				<!-- row end -->
				</div>

				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						Gruntfile template with grunt-contrib-connect server
					</div>
					<div class="block-b">
						<a href="/templates/script/GruntfileWithConnectServer.js">/templates/script/GruntfileWithConnectServer.js</a>
					</div>
				<!-- row end -->
				</div>

				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						generic requireJSConfig
					</div>
					<div class="block-b">
						<a href="/templates/script/requireJSConfig.js">/templates/script/requireJSConfig.js</a>
					</div>
				<!-- row end -->
				</div>

			<!-- grid-a end -->
			</div>


		<!-- doc-wrap end -->
		</div>

		<!-- script begin -->
		<!-- <script src="/public/scripts/main.js"></script> -->
		<!-- script end -->
	</body>
</html>
